
<footer class="site-footer h-card">

    <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <div class="footer-col-wrapper">
        <div class="footer-col">
        
      {%- if site.author %}
        <ul class="contact-list">
          {% if site.author.name -%}
            <li class="p-name">{{ site.author.name | escape }}</li>
          {% endif -%}
          {% if site.author.email -%}
            <li><a class="u-email" href="mailto:{{ site.author.email }}">{{ site.author.email }}</a></li>
          {%- endif %}
          <li>
            <a href="https://www.datacamp.com/profile/sourestdeeds">
              <svg width="14px" height="14px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg"><path d="M12.946 18.151v-5.239L21.209 8.2 19.2 7.048l-6.254 3.567V5.36c0-.356-.192-.689-.5-.866L4.922.177a1.434 1.434 0 0 0-1.455.044 1.438 1.438 0 0 0-.676 1.224v14.777A1.44 1.44 0 0 0 4.92 17.49l6.032-3.44v4.683a1 1 0 0 0 .504.867l7.73 4.4 2.01-1.152-8.25-4.697zM10.953 5.938v5.814L4.785 15.27V2.4l6.168 3.539v-.001z"/></svg>
            </a>
            <a href="https://www.linkedin.com/in/stephen-charles-2b366020a/">
                <i class="fa fa-linkedin"></i>
            </a>
            <a href="https://github.com/sourestdeeds/">
                <i class="fa fa-github"></i>
            </a>
            <a href="https://twitter.com/Stephen59832963">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.instagram.com/sourestdeeds/">
              <i class="fa fa-instagram"></i>
            </a>
            <a href="mailto: stevemindoza@gmail.com?subject=Referred from DataSciencePortfolio&body= ">
              <i class="fa fa-envelope-square"></i>
            </a>
          </li>
          <li>
            <a href="https://sourestdeeds.github.io/links">&emsp;</a>
          </li>
        </ul>
      {%- endif %}
      </div>
      <div class="footer-col">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

    <div class="social-links">
      {%- include social.html -%}
    </div>

  </div>
    {% include new-window-fix.html %}
</footer>
