<header class="site-header">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}
    {%- assign titles_size = site.pages | map: 'title' | join: '' | size -%}
    <a class="site-title" rel="author" href="{{ "/" | relative_url }}">{{ site.title | escape }}</a> 

    <nav>
      <a href="/about" {% if page.url == '/about/' %} class="active"{% endif %}>About</a>
      <a href="/photography" {% if page.url == '/photography/' %} class="active"{% endif %}>Photography</a>
      <a href="/search" {% if page.url == '/search/' %} class="active"{% endif %}>Search</a>
    </nav>

  </div>
</header>
